@font-face {
    font-family: 'Cooper';
    src: url(../fuentes/CooperRegular.woff);
   
  
}

#hero1{
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerHero1{
    display: flex;
    background-color: #043434;
    width: 90%;
    height: 50vh;
    justify-content: center;
    padding: 20px;
    gap: 60px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    
    
}

.cajaHero1{
    max-width: 400px;
}

.tituloHero{
    font-family: 'Cooper';
    font-size: 46px;
    color: #049494;
    


}


.containerHero2{
    display: flex;
}

.cajaFondo1{
    background: url(../img/perrohero1-removebg-preview.png);
    width: 300px;
    background-size: cover;
}


.misionContent p{
padding: 100px;
}